.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0; /* Borde gris claro */
    border-radius: 10px; 
    padding: 5px 10px; /* Espaciado interno */
    width: 300px; /* Ancho de la barra */
    background-color: #F9F9F9; /* Fondo de la barra */
    box-shadow: 0 2px 4px rgba(0, 0, 0.1, 0.2); 
}

.search-input {
    flex: 1; /* Para que ocupe todo el espacio disponible */
    border: none; /* Sin borde adicional */
    outline: none; /* Sin borde al hacer clic */
    padding: 8px; /* Espaciado interno del input */
    font-size: 14px; /* Tamaño de texto */
    background-color: transparent; /* Fondo transparente */
}

.search-input::placeholder {
    color: #C4C4C4; /* Color del placeholder */
}

.search-button {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Manito de clic */
}

.search-icon {
    width: 16px;
    height: 16px;
    stroke: #C4C4C4; /* Color gris claro del icono */
}

