/* src/screens/6profile/profile.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#sidebar {
    width: 4rem;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0.125rem 0 0.313rem rgba(0, 0, 0, 0.1);
}

#content {
    flex: 1;
    margin-left: 4rem;
    padding: 2rem;
    background-color: #fff8f8;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100vh;          /* Altura del viewport */
    margin: 0;   
}

#header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

#profile-picture {
    position: relative;
}

#avatar {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2rem solid #fff;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}



#profile-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#username {
    font-size: 1.5rem;
    font-weight: 600;
}

#stats {
    display: flex;
    gap: 2rem;
}

#stats div {
    text-align: center;
}

#stats h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

#lowered{
    display: flex;
    flex-direction:column-reverse;
    padding-bottom: 5rem;
}

#lowered p{
    font-weight: bold;
}

#actions {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
}

button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 13rem;
}

#edit {
    background-color: #FFC0CB;
    color: white;
}

#edit:hover {
    background-color: #fcadb9;
}

#new-post {
    background-color: #c5c5c5;
    color: #3b3b3b;
}

#new-post:hover {
    background-color: #747474;
}

@media screen and (max-width: 26.875rem) {

    #sidebar {
        display: none;
    }

    #profile-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 1.5rem;
    }

    #avatar {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
        border: 0.2rem solid #fff;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
    }

    #actions {
        justify-content: center; /* Centra horizontalmente */
        align-items: center; 
        display: flex;
        gap: 5rem;
        margin-bottom: 2rem;
    }
    
    button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 9rem;
    }

    #stats {
        display: flex;
        gap: 1rem;
    }
    
    #stats div {
        text-align: center;
    }
    
    #stats h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    #lowered{
        display: flex;
        flex-direction:column-reverse;
        padding-bottom: 5rem;
    }
}