.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    width: 3.125rem;
    height: 100vh;
    background-color: #ffffff;
    border-right: 0.063rem solid #ddd;
}

.profile-section {
    margin-bottom: 2.5rem;
}

.profile-picture {
    background-image: url("../../assets/images/profile7.jpg");
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    object-fit: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.menu-item {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item svg {
    width: 1.875rem;
    height: 1.875rem;
    stroke: #8a8ab6;
}

.menu-item.active svg {
    stroke: #5a5ab6;
}

.menu-item:hover svg {
    stroke: #7a7aa0;
}

@media screen and (max-width: 26.875rem) {
    .sidebar {

    }
}
